@import "../css/common.css";
@import "../assets/libs/layui/css/layui.css";


/*控制台1*/
.console1 .data-body .w-img {
    width: 60px;
    height: 60px
}

.console1 .data-body .w-img img {
    width: 100%;
    height: 100%
}

.console1 .line-home-a {
    height: 60px
}

.console1 .data-body .media-cont .tit {
    font-size: 16px;
    padding-bottom: 5px
}

.console1 .data-body .media-cont .num {
    font-size: 24px;
    line-height: 22px
}

.console1 .data-body .media-cont {
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.console1 .data-body {
    display: flex;
    padding: 20px;
    padding-bottom: 0;
    color: #333
}

/*登录*/
#login .layui-icon {
    font-size: 16px !important
}

#login .mag0 {
    margin: 0 !important
}

#login ::selection {
    background: #ff5722;
    color: #fff
}

#login .layui-red {
    color: red !important;
    font-weight: 700
}

#login .layui-blue {
    color: #01aaed !important
}

#login .layui-form-item.layui-input-focus input {
    border-color: #ff6700 !important
}

#login .layui-block {
    width: 100% !important
}

#login {
    width: 100%;
    height: 100%;
    background-image: url(../images/login-bg.jpg);
    position: relative
}

#login form.layui-form {
    padding: 0 20px 20px 20px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 50px #009688
}

#login .login_face {
    margin: 20px auto 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#login .login_face img {
    width: 100%
}

#login .layui-form-item {
    position: relative
}

#login .layui-form-item label {
    position: absolute;
    color: #757575;
    left: 10px;
    top: 9px;
    line-height: 20px;
    background: 0 0;
    padding: 0 5px;
    font-size: 14px;
    cursor: text
}

#login #code {
    padding-right: 110px
}

#login .captcha-box .img {
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1px;
    cursor: pointer;
    width: 100px;
    background: #c4e1ce
}

#login .layui-form-item input {
    background: #fff !important
}

#login .layui-form-item input, #login .layui-form-item label {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out
}

#login .layui-form-item input::placeholder {
    color: transparent !important
}

#login .layui-form-item.layui-input-focus input::placeholder {
    color: #757575 !important
}

#login .layui-form-item.layui-input-active label, #login .layui-form-item.layui-input-focus label {
    top: -10px;
    font-size: 12px;
    color: #ff6700;
    background: #fff !important
}

#login .login-link {
    display: block;
    font-size: 12px
}

#login .login-link a {
    display: inline-block;
    margin-right: 20px
}

/*基本资料*/
.user-info .user_left {
    float: left;
    margin: 20px 0 0 5%
}

.user-info .user_right p {
    margin: 10px 0 25px;
    font-size: 12px;
    text-align: center;
    color: #ff5722
}

.user-info .userAddress.layui-form-item .layui-input-inline {
    width: 23%
}

.user-info .userAddress.layui-form-item .layui-input-inline:last-child {
    margin-right: 0
}

@media screen and (max-width: 450px) {
    .user-info .userAddress.layui-form-item .layui-input-inline {
        width: auto
    }
}

/*修改密码*/
.seting-pass {
    background: #FFFFFF;
}

.seting-pass .user_right p {
    margin: 10px 0 25px;
    font-size: 12px;
    text-align: center;
    color: #ff5722
}

.seting-pass .layui-table th {
    text-align: center
}

.seting-pass .changePwd {
    width: 100%;
    max-width: 480px;
}


/*响应样式*/
@media screen and (max-width: 750px) {
    .ok-in-hide-md {
        display: none !important
    }
}

@media screen and (max-width: 548px) {
    .ok-in-hide-xs, [ok-pc-in-show] {
        display: none !important
    }
}


.layui-upload-img {
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
}

/*color*/
.red {
    color: #FF0000;
}

.red1 {
    color: #F10101;
}

.red2 {
    color: #E70101;
}

.red3 {
    color: #DE0000;
}

.red4 {
    color: #CE0000;
}

.red-1 {
    color: #FC3232;
}

.red-2 {
    color: #FC3E3E;
}

.red-3 {
    color: #FD5252;
}

.red-4 {
    color: #FF6363;
}

.green {
    color: #02B202;
}

.green1 {
    color: #03A203;
}

.green2 {
    color: #029102;
}

.green3 {
    color: #017F00;
}

.green4 {
    color: #006600;
}

.green-1 {
    color: #02C302;
}

.green-2 {
    color: #02D102;
}

.green-3 {
    color: #01DF01;
}

.green-4 {
    color: #02EF02;
}

.blue {
    color: #006699;
}

.blue1 {
    color: #193996;
}

.blue2 {
    color: #133392;
}

.blue3 {
    color: #0B2B86;
}

.blue4 {
    color: #00207E;
}

.blue-1 {
    color: #2447AD;
}

.blue-2 {
    color: #436DE9;
}

.blue-3 {
    color: #436DE9;
}

.blue-4 {
    color: #436DE9;
}

.orange {
    color: #FF6600;
}

.orange1 {
    color: #F06204;
}

.orange2 {
    color: #E25D04;
}

.orange3 {
    color: #D35501;
}

.orange4 {
    color: #C44E00;
}

.orange-1 {
    color: #FD751A;
}

.orange-2 {
    color: #FD802C;
}

.orange-3 {
    color: #FE893B;
}

.orange-4 {
    color: #FF934B;
}

.yellow {
    color: #FFFF00;
}

.yellow1 {
    color: #FFF000;
}

.yellow2 {
    color: #FBE318;
}

.yellow3 {
    color: #F6DD0B;
}

.yellow4 {
    color: #F5CC0A;
}

.yellow-1 {
    color: #FBFC55;
}

.yellow-2 {
    color: #FAFABD;
}

.yellow-3 {
    color: #FFF8DD;
}

.yellow-4 {
    color: #FDFFF2;
}

.gray {
    color: #8F8F8F;
}

.gray1 {
    color: #888888;
}

.gray2 {
    color: #7B7B7B;
}

.gray3 {
    color: #6A6A6A;
}

.gray4 {
    color: #555555;
}

.gray-1 {
    color: #999999;
}

.gray-2 {
    color: #A0A0A0;
}

.gray-3 {
    color: #B4B4B4;
}

.gray-4 {
    color: #C1C1C1;
}

.black {
    color: #000000;
}

.white {
    color: #FFFFFF;
}

.tb-img-circle {
    width: 40px;
    height: 40px;
    cursor: zoom-in;
    border-radius: 50%;
    border: 2px solid #dddddd;
}
